.cards {
  margin: auto;
}

.card {
  margin: auto;
  float: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-header {
  text-align: center;
  font-weight: bold;
}

#icon {
  margin-top: 0;
  float: right;
}

.card-body {
  margin: auto;
}

.input-group {
  margin: auto;
}

.navbar-nav {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar {
  background-image: linear-gradient(to right, #c2e3ed, #5bc0de);
  margin-bottom: 10px;
}

li {
  display: inline;
}

.input-group {
  margin-top: 2rem;
}

#x-sign {
  text-decoration: none;
  color: #c2e3ed;
}

.task-controls {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row>div[class*='col-'] {
  display: flex;
}

#greet {
  margin: 15px;
}
